<ul class="nav nav-list">
    <li class="nav-header">Les données</li>
    <%= content_tag(:li, link_to(users_path) { "Utilisateurs" },
        :class => (current_page?(:controller => "users") ? "active" : "")) %>
    <%= content_tag(:li, link_to(rewards_path) { "Rewards" },
        :class => (current_page?(:controller => "rewards") ? "active" : "")) %>
    <%= content_tag(:li, link_to(shops_path) { "Boutiques" },
        :class => (current_page?(:controller => "shops") ? "active" : "")) %>
    <%= content_tag(:li, link_to(scans_path) { "Scans" },
        :class => (current_page?(:controller => "scans") ? "active" : "")) %>
    <li class="nav-header"></li>
    <li><a href="#">Compte</a></li>
    <li><a href="#">Paramètres</a></li>
    <li class="divider"></li>
    <li><a href="#">Aide</a></li>
</ul>
