<h1>Edition d'un utilisateur</h1>

<%= render 'form' %>

<div class="form-horizontal">
  	<div class="control-group">
    	<div class="controls">
      		<div class="btn-group">
			  <%= link_to 'Retour', users_path, :class => "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>

