

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#jquery-loader.blue-with-image{
    border:none;
    padding-top:35px;
    background-color: transparent;
    text-align: center;
    background-image: url(ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
 
}










