<script type="text/javascript">
	$(function () {
	    var chart;
	    $(document).ready(function() {
	    	chart = new Highcharts.Chart(gon.chart);
	    });
	});
</script>
<%= javascript_include_tag "highcharts" %>
<%= javascript_include_tag "modules/exporting" %>

<div id="chart_container" class="span11" style="height: 400px"></div>
